logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings


.g8/
.metals/
.vscode/
.bloop/
/RUNNING_PID

AnotherTestForImport.scala

project/.bloop/
project/project/
project/target/
project/metals.sbt

public/

.bsp/
.metals/
.vscode/
target/
